body {
  background-color: rgb(244, 239, 239);
}

.spinner {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color:   #5b1092;
}
.spinner:before,
.spinner:after {
  content: '';
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.spinner:after {
  color: #ffa500;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.title {
  font-family: 'Agbalumo', sans-serif; 
  font-size: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.span-cats {  
  color: #5b1092;
  margin-right: 10px;
}

.span-breeds { 
  color: #ffbc05;
}

.cat-img {
  width: 30%;
  object-fit: cover;
  border-radius: 10px;  
  margin: 20px 20px 0 0;
  box-shadow: -5px -5px 10px #5b1092, 5px 5px 10px #ffbc05;
}

.cat-info { 
  display: flex; 
  justify-content: center;  
  margin-top: 30px;
  
}

.spinner-wrapper {
  display: flex;
  justify-content: center;  
}

.wrapper {
  display: flex;
  justify-content: center;  
}

.wrapper div {
  width: 500px;
}

.ss-main {
   font-family: 'Agbalumo', sans-serif;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
}

.ss-option {
  font-family: 'Agbalumo', sans-serif;  
}

.ss-single {
  font-family: 'Agbalumo', sans-serif;
  color: rgb(107, 106, 106);
}

.img-cat {
  position: fixed;
  bottom: 0;
right: 0;
}

h2 {
  font-size: 36px;
  font-family: 'Agbalumo', sans-serif;
  margin: 10px 0;   
}

article {
   font-family: Tahoma, sans-serif;
   
}